:root {
    --text-color: #f0f4f5;
    --background-color: #030b1b;
    --accent-color: pink;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 ;
    font-family: 'Source Sans 3', sans-serif;
    background-color:white
}

a {
    text-decoration: none;
    color: var(--text-color);
}

/* nav section */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
    opacity: .8;
    z-index: 1;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #999;
}

.navbar-logo {
    font-size: 28px;
    font-weight: bold;
    padding-left: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    padding-left: 0;
    font-size: 24px;
    font-weight: bold;
}

.navbar-menu li {
    padding: 8px 12px;
}

.navbar-menu li:hover {
    background: linear-gradient(to bottom right, #66ff99 0%, #66ccff 100%);
    border-radius: 4px;
}

.navbar-icons {
    display: flex;
    list-style: none;
    color: var(--text-color);
    padding-left: 0;
    padding-right: 50px;
    font-size: 30px;
}


.navbar-icons li {
    padding: 8px 12px;
}

.navbar-toggleBtn {
    display: none;
    font-size: 30px;
    position: absolute;
    right: 50px;
}

/* narrow-width */
@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-menu li {
        width: 100%;
        text-align: center;
    }

    .navbar-icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar-toggleBtn {
        display: block;
    }

    .navbar-menu.active,
    .navbar-icons.active {
        display: flex;
    } 
}